<%- include("header") -%>


<h1>COMPOSE</h1>

<div class="mb-3">
        <form class="" action="/post" method="post">
        <label for="exampleFormControlInput1" class="form-label">Title</label>
        <input type="text" class="form-control" id="exampleFormControlInput1" name="gmail">
      </div>
      <div class="mb-3">
        <label for="exampleFormControlTextarea1" class="form-label">Compose</label>
        <textarea name="compose" class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea><br>
     <button type="submit" class="btn btn-primary">publish</button>
    </form>
    </div>      


<%- include("footer") -%>